<div class="container">

  <div class="row">

    <div class="col-md-12">

      <div class="hero-container">

        <div class="hero-content">

          {% if site.title != '' %}
          <h1 class="text-center">{{site.title}}</h1>
          {% endif %}

          {% if site.description != '' or site.enable_contact == true %}
          <p class="text-center">
            {% if site.description != '' %}
            {{site.description}}
            {% endif %}

            {% if site.enable_contact == true %}
            {% include contact.html %}
            {% include contact-modal.html %}
            {% endif %}
          </p>
          {% endif %}

          <div class="hero-buttons">
              <a href="https://linkedin.com/in/{{ site.linkedin_username }}"><button class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-lg"></i>LinkedIn</button></a>
              <a href="https://github.com/{{ site.github_username }}"><button class="btn btn-default btn-lg"><i class="fa fa-github fa-lg"></i>Github</button></a>
              <a href="https://ysinghc.github.io/assets/resume.pdf"><button class="btn btn-default btn-lg"><i class="fa fa-file-text-o fa-lg"></i>Resume</button></a>
          </div>

        </div>

      </div>

      <a class="section-jump text-center" href="#portfolio">
        <i class="fa fa-angle-down fa-3x"></i>
      </a>

      <section id="projects">
        <div class="container">
          <h2>Projects 🛠️</h2>
          <div class="project" id="siem-lab">
            <h3><a href="#siem-lab">Security Incident and Event Management (SIEM) Lab</a></h3>
            <p>Built a <strong>SIEM lab</strong> using <strong>VMware & Splunk Enterprise</strong> for security analysis.</p>
          </div>
          <div class="project" id="arduino-rc-car">
            <h3><a href="#arduino-rc-car">Arduino RC Car – TechTatva 2k24 Winner</a></h3>
            <p>Designed and programmed an <strong>Arduino-powered RC car</strong> for <strong>Robo-Soccer</strong>.</p>
          </div>
          <div class="project" id="quadcopter">
            <h3><a href="#quadcopter">Quadcopter</a></h3>
            <p>Built and calibrated a <strong>drone</strong> at the <strong>Dronetech Workshop (MeitY & NIT Jalandhar)</strong>.</p>
          </div>
          <div class="project" id="python-sql-connector">
            <h3><a href="https://github.com/IMV-IN/Python-SQL-Connector">Python-SQL Connector</a></h3>
            <p>Developed a <strong>GUI-based SQL query tool</strong> using <strong>Tkinter & MySQL</strong>.</p>
          </div>
          <div class="project" id="ytmate">
            <h3><a href="https://github.com/IMV-IN/ytmate">YTMATE</a></h3>
            <p>Automated <strong>YouTube video downloads</strong> via Python scripting & API integration.</p>
          </div>
        </div>
      </section>
    </div>

  </div>

</div>
